<div class="shop-page">
  <div class="page-title">
    <h1 class="important">SHOP</h1>
  </div>

  <div class="content">
    <div class="filter-icon" title="filter">
      <div>
        <input type="checkbox" name="filter" id="filterToggle" />
        <i class="fa-solid fa-filter"></i>
      </div>
    </div>

    <div class="filter card">
      <h3>Products Filter</h3>

      <div id="shopFilter"></div>
    </div>

    <div id="_title">Products</div>

    <div id="shop_rt"></div>
  </div>
</div>
